---
lang: es
layout: base-es
id: vocabulary

vocabulary:
- id: block
- id: btc
- id: blockchain
- id: confirmation
- id: cryptography
- id: address
- id: doublespend
- id: signature
- id: privatekey
- id: mining
- id: wallet
- id: p2p
- id: hashrate
---
<h1>{%translate pagetitle%}</h1>
<p>{%translate summary%}</p>
<h2>{%translate table%}</h2>

<div class="index">
{%for voc in page.vocabulary%}{%translate table{{voc.id}}%}{%endfor%}
</div>

{%for voc in page.vocabulary%}
<h2>{%translate {{voc.id}}%}</h2>
<p>{%translate {{voc.id}}txt%}</p>
{%endfor%}
